<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or "MiniLMS" }}</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <header>
      <h1 class="flicker">MiniLMS</h1>
      <nav>
        <a href="{{ url_for('core.home') }}">Courses</a>
      </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
      <p>Copyright 2026 FORTIS AURIS</p>
    </footer>
  </div>
</body>
</html>
